<link rel="stylesheet" href="/css/user.css">

<div class="container__login">
  <div class="container__index">
    <div class="login__icon">
      <i class="fas fa-broadcast-tower"></i>
    </div>
    <h1 class="titulo">Iniciar sesión</h1>
    <p class="login__subtitle">Accede al panel de radio</p>
    <form class="formulario__signup" action="/login" method="POST" onsubmit="return validateForm()">
      <input class="formulario__input" type="text" name="username" id="usernameInput"
        placeholder="Usuario" autocomplete="username" />
      <input class="formulario__input" type="password" name="password" id="passwordInput"
        placeholder="Contraseña" autocomplete="current-password" />
      <input class="button__link" type="submit" value="Entrar" />
    </form>
  </div>
</div>

<script src="/js/validateForm.js"></script>